.feedback {
  padding: 100px 0px;
}

.feedback__text {
  text-align: center;
}
.feedback__text-title {
  font-size: 26px;
  font-weight: 700;
}
.feedback__text-discription {
  padding: 80px 220px 30px 220px;
  font-size: 16px;
  font-weight: 400;
  word-break: break-word;
}
.feedback__icon {
  padding: 0px 437px;
  text-align: center;
}
.feedback__icon-img {
  padding-bottom: 30px;
}
.feedback__icon-name {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}
.feedback__icon-profession {
  font-size: 14px;
  font-weight: 400;
}
