.gallery {
  padding: 100px 14px;
  height: 1220px;

  &__title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
  }
  &__img {
    margin-top: 80px;
    &-picture {
      width: 350px;
      height: 290px;
      background-repeat: no-repeat;
      background-size: cover;

      border-radius: 10px;
      transition: 0.2s ease-in;
      &:hover {
        box-shadow: 5px 5px 5px 1px $accent-color;
      }
    }
    &-picture1 {
      width: 60%;
      height: 600px;
      background-image: url(/img/gallery/pic1.png);
      float: left;
    }
    &-picture2 {
      background-image: url(/img/gallery/pic2.png);
      float: right;
      margin-bottom: 20px;
    }
    &-picture3 {
      background-image: url(/img/gallery/pic3.png);
      float: right;
      background-position: bottom 2px right -100px;
    }

    &-picture4 {
      background-image: url(/img/gallery/pic4.png);
      width: 100%;
      float: left;
      margin-top: 20px;
      background-position: bottom 2px right -110px;
    }
  }
}
