* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

input,
button {
  border: none;
  font-family: inherit;
}

button, input [type="submit"] {
  background: none;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #7d7d7e;
}

.container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.nav {
  position: relative;
  padding-top: 57px;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

.navigation__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.navigation__icons-round {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.navigation__icons-round:hover {
  background-color: #e98f19;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.navigation__info-logo {
  font-size: 22px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

.navigation__info-logo a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.navigation__info-logo a:hover {
  color: #e98f19;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.navigation__info-list {
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

.navigation__info-list a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.navigation__info-list a:hover {
  color: #e98f19;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.header {
  height: 700px;
  background-image: url(./../img/background/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__text {
  text-align: center;
  margin-top: 200px;
}

.header__text-title {
  width: 100%;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.header__text-discription {
  width: 100%;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.form {
  border-radius: 2px;
  background-color: white;
  margin: auto;
  margin-top: 65px;
  width: 770px;
  height: 130px;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0px 40px;
  font-size: 14px;
  font-weight: 400;
}

.form__input {
  display: inline-block;
  border-radius: 2px;
  height: 50px;
  padding-left: 40px;
  padding-right: 20px;
  background-color: #f0f0f0;
  line-height: 50px;
  font-weight: 700;
  border: 2px solid #e6e5e5;
}

.form__button {
  display: inline-block;
  border-radius: 2px;
  height: 50px;
  padding-left: 61px;
  padding-right: 61px;
  background-color: #395e66;
  line-height: 50px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.form__button:hover {
  background-color: #304f56;
}

.benefits {
  padding-top: 100px;
  padding-bottom: 215px;
}

.benefits__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.benefits__item {
  text-align: center;
}

.benefits__img {
  height: 45px;
}

.benefits__title {
  margin-top: 50px;
  white-space: nowrap;
}

.benefits__text {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 400;
}

.video {
  padding: 0px 192px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9b9b9c), to(black));
  background: linear-gradient(#9b9b9c, black);
}

.video__text {
  text-align: center;
  padding-top: 80px;
}

.video__text-title {
  padding-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

.video__text-discription {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.video__play {
  padding: 20px 57px 80px 58px;
}

.feedback {
  padding: 100px 0px;
}

.feedback__text {
  text-align: center;
}

.feedback__text-title {
  font-size: 26px;
  font-weight: 700;
}

.feedback__text-discription {
  padding: 80px 220px 30px 220px;
  font-size: 16px;
  font-weight: 400;
  word-break: break-word;
}

.feedback__icon {
  padding: 0px 437px;
  text-align: center;
}

.feedback__icon-img {
  padding-bottom: 30px;
}

.feedback__icon-name {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.feedback__icon-profession {
  font-size: 14px;
  font-weight: 400;
}

.team {
  padding: 100px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#9b9b9c));
  background: linear-gradient(black, #9b9b9c);
}

.team__title {
  padding-bottom: 80px;
  text-align: center;
  color: #fff;
}

.team__title-team {
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 8s0px;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__row-line {
  text-align: center;
}

.team__row-img {
  border: 2px solid #fff;
  border-radius: 10px;
}

.team__row-name {
  padding-top: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.team__row-profession {
  padding-top: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.gallery {
  padding: 100px 14px;
  height: 1220px;
}

.gallery__title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.gallery__img {
  margin-top: 80px;
}

.gallery__img-picture {
  width: 350px;
  height: 290px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.gallery__img-picture:hover {
  -webkit-box-shadow: 5px 5px 5px 1px #e98f19;
          box-shadow: 5px 5px 5px 1px #e98f19;
}

.gallery__img-picture1 {
  width: 60%;
  height: 600px;
  background-image: url(./../img/gallery/pic1.png);
  float: left;
}

.gallery__img-picture2 {
  background-image: url(./../img/gallery/pic2.png);
  float: right;
  margin-bottom: 20px;
}

.gallery__img-picture3 {
  background-image: url(./../img/gallery/pic3.png);
  float: right;
  background-position: bottom 2px right -100px;
}

.gallery__img-picture4 {
  background-image: url(./../img/gallery/pic4.png);
  width: 100%;
  float: left;
  margin-top: 20px;
  background-position: bottom 2px right -110px;
}

.price {
  padding: 100px 0px;
  background: #fafafa;
  text-align: center;
}

.price__title {
  padding-bottom: 80px;
}

.price__title-name {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
}

.price__title-text {
  font-size: 16px;
  font-weight: 400;
}

.price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__row-star {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #e98f19;
  top: -5px;
  left: 240px;
}

.price__row-pack {
  position: relative;
  width: 295px;
  padding: 50px;
  background: #fff;
  border: 5px solid #e2e2e2;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(110, 110, 110, 0.459);
          box-shadow: 5px 5px 5px 1px rgba(110, 110, 110, 0.459);
}

.price__row-pack:hover {
  border: 5px solid #e98f19;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.price__row-pack:hover .price__row-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__row-price {
  margin-bottom: 100px;
  font-size: 24px;
  font-weight: 700;
}

.price__row-title {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 600;
}

.price__row-text {
  margin-bottom: 60px;
  font-size: 14px;
  font-weight: 400;
}

.price__row-button {
  border-radius: 2px;
  border: 2px solid #395e66;
  height: 50px;
  padding: 0px 40px;
  background-color: #fff;
  line-height: 25px;
  font-weight: 700;
  color: #304f56;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.price__row-button:hover {
  background-color: #395e66;
  color: #fff;
}

.styles {
  padding: 100px 0px;
}

.styles__title {
  margin-bottom: 80px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.styles__row {
  margin: 46px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  width: 230px;
  height: 230px;
}

.styles__row-pack {
  margin: 100px 0px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.styles__row-pack:hover {
  color: #e98f19;
}

.styles__row-discription {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.styles__row-name {
  font-size: 24px;
  font-weight: 600;
}

.styles__row-text {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
}

.styles__row-img {
  -webkit-box-shadow: 5px 5px 5px 1px rgba(110, 110, 110, 0.459);
          box-shadow: 5px 5px 5px 1px rgba(110, 110, 110, 0.459);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.styles__row-img:hover {
  -webkit-box-shadow: 5px 5px 5px 1px #e98f19;
          box-shadow: 5px 5px 5px 1px #e98f19;
}

.subscribe {
  padding: 100px 0px;
  background: #d1d1d1;
}

.subscribe__title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.subscribe__form {
  width: 550px;
  height: 500px;
  margin-left: 450px;
  background: #fff;
}

.subscribe__form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__form-name {
  margin: 50px 0px 30px 50px;
}

.subscribe__form-name-input {
  width: 210px;
  height: 60px;
  border: 2px solid #f0f0f0;
  padding: 20px 20px;
}

.subscribe__form-mail {
  margin: 50px 50px 30px 0px;
}

.subscribe__form-mail-input {
  width: 210px;
  height: 60px;
  border: 2px solid #f0f0f0;
  padding: 20px 20px;
}

.subscribe__form-subject {
  margin: 0px 50px 30px 50px;
}

.subscribe__form-subject-input {
  width: 450px;
  height: 60px;
  border: 2px solid #f0f0f0;
  padding: 20px 20px;
}

.subscribe__form-message {
  margin: 0px 50px 30px 50px;
}

.subscribe__form-message-input {
  width: 450px;
  height: 150px;
  border: 2px solid #f0f0f0;
  padding: 20px 20px;
}

.subscribe__form-button {
  margin: 0px 0px 50px 50px;
  height: 50px;
  width: 150px;
  background-color: #395e66;
  line-height: 45px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.subscribe__form-button-btn {
  color: #fff;
}

.subscribe__form-button:hover {
  background-color: #304f56;
  color: #fff;
}

.subscribe__form-contact {
  margin: 0px 50px 50px 30px;
  height: 50px;
  width: 270px;
  text-align: left;
  line-height: 45px;
}

.footer {
  padding: 100px 0px;
  background: #2d4e55;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 134px;
          column-gap: 134px;
  color: #fff;
}

.footer__title-name {
  margin-bottom: 45px;
  text-align: left;
}

.footer__location-title {
  margin-bottom: 45px;
  text-align: left;
}

.footer__knowledge-title {
  margin-bottom: 45px;
  text-align: left;
}

.footer__connect-title {
  margin-bottom: 45px;
  text-align: left;
}

.footer__connect-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer__button {
  margin-top: 90px;
  text-align: center;
}

.footer .footer__button-btn {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
